@use "../abstracts" as *;

.followers-grid {
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 10px;
    max-height: 300px;
    overflow-x: scroll;
  }

  &__item {
    text-align: center;
    font-size: 10px;
  }

  &__item-img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border: 1px solid #ccd8ea;
    padding: 2px;
    background: $color-white;
  }

  &__item-name {
    display: block;
    margin-top: 3px;
    color: $color-link;
    max-width: 70px;
    overflow-wrap: break-word;
  }
}
